<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= book.Bookname%></title>
</head>
<body>
    <h1><%= book.Bookname%></h1>
    <p>Author: <%= book.Author %></p>
    <p>Price: <%= book.Price %></p>
</body>
</html>